.wrapper {
    height: 100vh;
    background-color: whitesmoke;
    background-size: cover;
    padding: 0 10;
}

img {
    border-radius: 50%;
    border: 4px ridge rgb(15, 155, 113);
}

.logo {
    width: 18%;
    float: left;
    padding: 0px;
}

header {
    height: 250px;
    padding-top: 5px;
}

.name {
    font-size: 50px;
}

h1 {
    width: 220px;
    margin: 30;
    text-align: center;
    font-family: 'Syne', sans-serif;
    font-size: 25px;
}

h2 {
    font-family: 'Syne', sans-serif;
    font-size: 22px;
    margin-bottom: 15px;
    text-align: center;
    transform: skew(-20deg);
    background: rgb(15, 155, 113);
    width: 300px;
    margin-left: 20px;
}

h3 {
    font-family: 'Syne', sans-serif;
    font-size: 20px;
    margin-left: 30px;
}

ul {
    list-style-type: disc;
    margin: 5 30 5 20;
    font-size: 17px;
}



.mail {
    content: url('https://api.iconify.design/foundation:mail.svg?height=24');
    vertical-align: -0.125em;
}

.educontacts {
    padding: 20 0;
    width: 50%;
    height: 360px;
    float: left;
}

.contacts {
    font-family: 'Syne', sans-serif;
    font-size: 17px;
    float: left;
    position: relative;
    width: 100%;
    margin: 0 0 20 0;
}

.education {
    width: 100%;
    font-family: 'Syne', sans-serif;
    font-size: 17px;
    margin: 0;
    display: inline-block;
}

.english {
    font-family: 'Syne', sans-serif;
    font-size: 17px;
    padding: 0 0 10 0;
    text-align: justify;
    display: inline-block;
}

.skills {
    font-family: 'Syne', sans-serif;
    font-size: 17px;
    margin: 0 0 10 0;
    float: left;
    width: 100%;
}

.skill-eng {
    margin-left: 50%;
    padding: 20 0;
    width: 50%;
    height: 360px;
}

.phone {
    content: url('https://api.iconify.design/eva:phone-outline.svg?height=24');
    vertical-align: -0.125em;
}

.location {
    content: url('https://api.iconify.design/ic:baseline-location-on.svg?height=24');
    vertical-align: -0.125em;
}

.linked {
    content: url('https://api.iconify.design/ant-design:linkedin-filled.svg?height=24');
    vertical-align: -0.125em;
}

.ul-style {
    list-style-type: disc;
    margin: 10 30 15 30;
}

.experience {
    font-family: 'Syne', sans-serif;
    font-size: 17px;
}

.edu-text {
    text-align: justify;
    margin: 10 30 20 0;
    font-family: 'Syne', sans-serif;
}

.summary {
    margin-left: 25%;
    padding-top: 30px;
    font-family: 'Syne', sans-serif;
    font-size: 20px;
}

.summary-text {
    margin-left: 25%;
    margin: 10 30 40 30;
    font-family: 'Syne', sans-serif;
    text-align: justify;
}